@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 0 1rem;
}

.title-section{
    font-size:2rem;
    font-weight: bold;
    margin-top: 1rem;
}
.title-section.title{
    text-align:center;
}
hr{
    margin: 2rem 0;
    height: 3px;
    background-color: black;
}

.main-scrum.done .input-dates{
    display: none;
}
.main-scrum.done .end-scrum{
    background-color: gray;
}

.progress-wrap{
    width:100%;
    display:flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.progress-wrap .sub-title{
    font-size:1.5rem;
    font-weight:500;
    margin-top: 1rem;
}
.progress-wrap .list{
    background-color: #89C5BA; 
    padding: 10px;
    border-radius: 8px;
    margin-top: 8px;
    width: 350px;
}
.progress-wrap .header-wrap{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.scrum{
    width:100%;
}
.scrum-wrapper{
    display:flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
}
.dates .flex{
    display:flex;
    gap: 2rem;
}
.end-scrum, .new-scrum{
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
    color: white;
}
.end-scrum{
    background-color: rgb(223, 143, 143);
}
.new-scrum{
    background-color: rgb(150, 223, 143);
    width: fit-content;
    cursor: pointer;
}

.history-analytics{
    display: flex;
    gap: 3rem;
    width: 100%;
}

.analytics{
    width: 25vw;
}
.analytics .list{
    border-radius: 10px;
    background-color:gainsboro;
    margin-top: 1rem;
    padding: 1rem;
}
.analytics .bar{
    height:1rem;
    width:100%;
    background-color:white;
    margin-top:10px;
    border-radius:1rem;
    position: relative;
    overflow: hidden;
}
.analytics .colored-bar{
    left: 0;
    height: 1rem;
    background-color:black;
    width:0;
}

.history-wrap, .performance-wrap{
    width: 25vw;
    max-height: 450px;
    overflow-y: scroll;
}
.history-wrap .list{
    border-radius: 10px;
    background-color:gainsboro;
    margin-top: 1rem;
    padding: 1rem;
}

